<a href="https://colab.research.google.com/github/sheng-999/pandas_test/blob/main/DataFrame_Basics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Recall DataFrame Basics

1) Execute the following cell

In [1]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6],
                   "B": [7, 8, 9, 10, 11, 12],
                   "C": [13, 14, 15, 16, 17, 18],
                   "D": ["a", "a", "a", "b", "b", "b"],
                   "E": ["c", "d", "c", "d", "c", "d"]})

2) Display columns and index names

In [9]:
df.dtypes

A     int64
B     int64
C     int64
D    object
E    object
dtype: object

c) Put only column B in a variable `df_B`, what is the type of this variable?

In [11]:
df_B = df['B']
print(df_B)
print(type(df_B))

0     7
1     8
2     9
3    10
4    11
5    12
Name: B, dtype: int64
<class 'pandas.core.series.Series'>

d) Is the following code equivalent? Why?

df_B = df[["B"]]

In [14]:
df_B = df[["B"]]
print(df_B)
print(type(df_B))

    B
0   7
1   8
2   9
3  10
4  11
5  12
<class 'pandas.core.frame.DataFrame'>

e) Create a DataFrame `df_E_B` containing columns B and E. We want column E to be before column B.

In [20]:
df_eb = ['E','B']
df_E_B = df[df_eb]
df_E_B

   E   B
0  c   7
1  d   8
2  c   9
3  d  10
4  c  11
5  d  12

f) Display rows 1 to 3 and columns B, C, D from `df` DataFrame.

In [25]:
df1_3 = df.loc[:4,['B','C','D']]
df1_3

    B   C  D
0   7  13  a
1   8  14  a
2   9  15  a
3  10  16  b
4  11  17  b

g) Why does this line of instruction cause an error?

In [31]:
df.iloc[1:3, 1:4]  # df.loc[1:3, ["B", "C", "D"]]

   B   C  D
1  8  14  a
2  9  15  a

h) Filter `df` only on rows with a value in column B greater than or equal to 8.

In [39]:
df_filter = (df['B'] >= 8)  # remove the index 0
df_f = df[df_filter]
df_f # all rows if B >= 8

   A   B   C  D  E
1  2   8  14  a  d
2  3   9  15  a  c
3  4  10  16  b  d
4  5  11  17  b  c
5  6  12  18  b  d

i) Filter the `df` only on rows with column B greater than or equal to 8 and column D equal to a.

In [42]:
condition_1 = (df['B']>= 8) & (df['D'] == 'a') #2 conditions
df_c1 = df[condition_1]
df_c1

   A  B   C  D  E
1  2  8  14  a  d
2  3  9  15  a  c

j) What does this instruction do?

In [55]:
df.loc[df["E"]=="c", "A"] = 8 # when E column == c, show the "A" and set the rows value to 8

In [56]:
df.loc[df["E"]=="c", "A"]

0    8
2    8
4    8
Name: A, dtype: int64

In [59]:
df

   A   B   C  D  E   F
0  8   7  13  a  c  12
1  2   8  14  a  d  12
2  8   9  15  a  c  12
3  4  10  16  b  d  12
4  8  11  17  b  c  12
5  6  12  18  b  d  12

k) Create a column F equal to 12

In [57]:
df['F'] = 12

m) Calculate the average of columns A, B and E

In [65]:
df[['A','B','E']].mean()

<ipython-input-65-8c8ab57d7888>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[['A','B','E']].mean()

A    6.0
B    9.5
dtype: float64

In [73]:
df.agg({'A':"mean",'B':'mean'}, axis=0)

A    6.0
B    9.5
dtype: float64

n) What happens if we repeat the previous instruction but pass axis=1 as parameter?

In [77]:
df

   A   B   C  D  E   F
0  8   7  13  a  c  12
1  2   8  14  a  d  12
2  8   9  15  a  c  12
3  4  10  16  b  d  12
4  8  11  17  b  c  12
5  6  12  18  b  d  12

In [82]:
df[['A','B']].mean(axis=1)

0    7.5
1    5.0
2    8.5
3    7.0
4    9.5
5    9.0
dtype: float64

In [83]:
df[['A','B','E']].mean(axis=1)

<ipython-input-83-e52ba436e8a9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[['A','B','E']].mean(axis=1)

0    7.5
1    5.0
2    8.5
3    7.0
4    9.5
5    9.0
dtype: float64

This calculates the average per row of the 3 columns